*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background: linear-gradient(to right, #aa83b2, #ff9682);
}
nav{
    height: 90px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
nav img{
    float: left;
    display: inline-block;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    margin-top: 30px;
    margin-right: 40px;
}
nav li a{
    font-size: 24px;
    color: #333;
    text-decoration: none;
}
nav li a:hover{
    color: #ffffff;
}