nav{
    height: 90px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
nav img{
    float: left;
    margin: 20px;
    filter: invert(0);
    transition: filter 0.2s ease-out;
}
nav img:hover{
    filter: invert(1);
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    margin-top: 30px;
    margin-right: 40px;
}
nav li a{
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease-out;
}
nav li a:hover{
    color: #ffffff;
}