*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 1%;
}
h3{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1%;
}
h2{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
}